<div class="full-frame"
     [ngClass]="{'display-block': display, 'display-none': !display}" >
    <div class="spinner-bg full-frame"></div>
    <div class='spinner'
         [@spinnerState]="loading"
         (@spinnerState.done)="animationDone($event)">
        <div class="sk-folding-cube gallery">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>

