@import "../../sass/_variables"

\:host
    position: relative
    display: block
    width: 100%
    height: $top-bar-height
    color: $font-color
    background-color: $background-color
    padding: 2px

.site-title
    position: absolute
    top: 3px
    right: 3px
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0.12em
    z-index: 1

.photo
    margin-left: 8px

.wf-passionone-n4-active .site-title
    font-family: $secondary-font
    font-size: 1.3em
    font-weight: 400
    letter-spacing: 0
