@import "../../sass/_variables"

\:host
    position: absolute
    display: block
    width: 100%
    height: $top-bar-height
    color: $font-color
    background-color: rgb(24, 24, 24, .6)

.site-title
    position: absolute
    top: 12px
    right: 12px
    letter-spacing: 0.03em
    z-index: 1
    font-family: $secondary-font
    font-size: 1.5rem

.photo
    margin-left: 12px
    margin-top: 9px
