:host {
  position: absolute;
  left: 5px;
  bottom: -1px;
  font-size: 11px;
  font-family: var(--primary-font);
  font-weight: 300;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eedebc;
}
.ancestor::after {
  display: inline-block;
  content: '\232A';
  margin: 0 .5rem;
}
.ancestor.last {
  font-weight: 600;
  color: #fff0ce;
}
.leaf::after {
  content: '\00b7';
  display: inline-block;
  margin: 0 .25rem;
}
a:last-child::after {
  content: '';
}
