:host {
  position: absolute;
  left: 5px;
  font-size: 11px;
  font-family: var(--primary-font);
  font-weight: 300;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eedebc;
}
