:host {
  position: absolute;
  top: var(--site-padding);
  bottom: var(--site-padding);
  left: var(--site-padding);
  right: var(--site-padding);
  overflow: hidden;
}
.photo {
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--color-border);
}
.photo-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.photo-nav:hover {
  background-color: rgba(110, 110, 110, 0.25);
  cursor: pointer;
}
.photo-nav img {
  height: 56px;
  opacity: 0.6;
}
.photo-nav.prev {
  left: 0;
  right: 90%;
}
.photo-nav.prev img{
  -webkit-filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, .6));
  filter: drop-shadow(-1px 3px 2px rgba(0, 0, 0, .8));
}
.photo-nav.next {
  right: 0;
  left: 90%;
}
.photo-nav.next img {
  -webkit-filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, .6));
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, .8));
}
.hide_nav {
  opacity: 0;
}
.hide_nav:hover {
  cursor: default;
}
.one {
  opacity: 0;
}
.two {
  opacity: 0;
}
