:root {
  --primary-font: 'Mukta', sans-serif;
  --secondary-font: 'Bebas Neue', sans-serif;

  --color-background: #181818;
  --color-font: #eeeedd;
  --top-bar-height: 2.4rem;
}


body {
  background: var(--color-background) url("/assets/spinner-tile.png") repeat;
  margin: 0;
  color: var(--color-font);
  font-family: var(--primary-font);
  line-height: 1.3em;
}

.__full-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.__display-block {
  display: block;
}

.__display-none {
  display: none;
}
